#footercontainer {
    font-size: small;
    display: flex;
    width: 80%;
    height: auto;
    margin-left: 13%;
    justify-content: space-around;
}

#firstline {
    display: grid;
    grid-template-columns: repeat(1,1fr); 
    width: 20%;
    height: 500px;
}
#firstline a {
    text-decoration: none;
    color: grey;
}
#secondline {
    display: grid;
    grid-template-columns: repeat(1,1fr); 
    width: 20%;
    gap: 10px;
}
#secondline a {
    text-decoration: none;
    color: grey;
}
#thirdline {
    display: grid;
    grid-template-columns: repeat(1,1fr); 
   width: 20%;
   gap: 8px;
}
#thirdline a {
    text-decoration: none;
    color: grey;
}
#fourthline img {
    width: 40%;
}
#fourthline {
   width: 20%;
}

