#homecontainer {
      margin-top: 9.6%;
    width: 100%;
}
#slider {
    position: relative;
    width: 100%;  
    overflow:hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
#slider ul {
    position: relative;
    list-style:none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}
#slider ul li {
    position: relative;
    height: 100%;
    float: left;
}
#slider ul li img {
    width: 1889px;
}
#slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
  }
  #slider #prev {
    left: 10px;
  }
  #slider #next {
    right: 10px;
  }
  
  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }
  #afterslides {
    margin-left: 13.5%;
    margin-top: 5%;
  }
  #afterslides:hover{
    cursor: pointer;
  }
  #offersjustforu{
    margin-left: 13.5%;
    margin-top: 5%;
  }
  #offersjustforu:hover{
    cursor: pointer;
  }
  #frequentlybooked:hover{
    cursor: pointer;
  }
  #featuredbrands:hover{
    cursor: pointer;
  }
  #Healtharticles{
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #Healtharticles img{
    width: 100%;
  }
  #Healtharticles div{
    width: 30%;
    margin-top: 10%;
  }
  #Healtharticles span {
    color: grey;
    font-size: small;
  }
  #Healtharticles p {
    font-size: small;
  }
  #Healtharticles h5 {
      color: teal;
  }
  #Healtharticles h5:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  #Whychooseus {
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    color: rgb(97, 93, 93);
  }
  #customersreview{
    margin-top: 5%;
  }
#downloadapp{
    margin-left: 10%;
    display: flex;
    width: 100%;
}
#downloadapp >div img {
    width: 30%;
}
#downloadapp h2,h3{
    color: rgb(97, 93, 93);
}
#downloadapp >div img:hover{
    cursor: pointer;
}
